body {margin:0;font-family: 'Roboto', sans-serif;
}
label,span{color: white;}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  /*font-size: 15px;*/
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 18px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #7289da;
  color: white;
}

.topnav-right {
  float: right;
}

.active {

  background-color: #7289da;
}


.new_article{
  padding:20px;
  margin-top:10px;
  margin-left:5%;
  background-color : rgba(18, 18, 18,0.45);
  height:60%;
  width:88%;
  overflow: auto;
  
}
h1, h2, h3, h4, h5, h6,p {
 color: white;
}
.article{
  font-size: 18px;
  opacity: 1.0;
}
.link{
  color: #107a10;

}
.link:hover{
  color:#00ff00;
}

.new_article_1{
  padding:20px;
  margin-top:10px;
  margin-left:5%;
  background-color : rgba(18, 18, 18,0.45);
  height:60%;
  width:88%;
  
  
}

.button {
  background-color: #107a10; /* Green */
  text-align: center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/**/
.img_article{
  height: 150px;
  width: 100px;
  float: left;
}
